@font-face {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 400;
  src: local('Bahnschrift'),
       url('fonts/Bahnschrift.ttf') format('truetype');
}
@font-face {
    font-family: "Latin Modern Math";
    src: url('fonts/latinmodern-math.otf');
}
.App-logo {
    height: 40vmin;
    pointer-2nts: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
	animation: App-logo-spin infinite 20s linear;
    }
}

* { /* TODO */
    --csu-green: green;
    --csu-gold: gold;

    --header-height: calc(15px + 1px + 20px + 50px)
}

.App-header {
    background-color: #181c24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
	transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
    }
}

.card {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32em;
    height: 32em;
    border-radius: calc(32em/2);
    top: 1em;
}
.card_scroll_browser>div:nth-child(2n) .card {
    right: 1em;
}
.card_scroll_browser>div:nth-child(2n+1) .card {
    left: 1em;
}

@media (max-aspect-ratio: 2/3) {
    .App-header {
	flex-direction: column;
    }
}

/* the little hover bubbles */
.card_dropdown>img {
    --scale: 8em;
    width: var(--scale);
    height: var(--scale);
    border-radius: calc(var(--scale)/2);
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown>img {
    left: 0;
    background-color: var(--csu-green);
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown>img {
    right: 0;
    background-color: var(--csu-gold);
}
.card_dropdown>img.breathing {
    --scale: 6em;
}
.card_dropdown {
    position: absolute;
    transition: 0.5s;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown {
    transform: rotate(var(--angle))
	       translate(12em) rotate(calc(-1 * var(--angle)))
	       translate(-4em, -4em);
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown {
    transform: rotate(calc(-180deg - var(--angle)))
	       translate(12em) rotate(calc(180deg + var(--angle)))
	       translate(4em, -4em);
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown.open {
    transform: rotate(var(--angle))
	       translate(12em) rotate(calc(-1 * var(--angle)))
	       translate(-4em, -4em)
	       translate(-2em, 4em);
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown.open {
    transform: rotate(calc(-180deg - var(--angle)))
	       translate(12em) rotate(calc(180deg + var(--angle)))
	       translate(4em, -4em)
	       translate(-2em, 4em);
}

.breathing{
    --breathing-scale: 0.75em;
    animation: breathing 3s infinite;
    animation-delay: 0s;
}
.card_scroll_browser>div:nth-child(2n+1) .breathing {
    --color: var(--csu-green);
}
.card_scroll_browser>div:nth-child(2n) .breathing {
    --color: var(--csu-gold);
}
.breathing.subtle{
    --breathing-scale: 0.25em;
}
@keyframes breathing {
    0% {
	box-shadow: 0 0 0 0em var(--color);
    }
    75% {
	box-shadow: 0 0 0 var(--breathing-scale) rgba(0, 0, 0, 0);
    }
    100% {
	box-shadow: 0 0 0 var(--breathing-scale) rgba(0, 0, 0, 0);
    }
}
.breathing:nth-of-type(2n) { animation-delay: -0.5s }
.breathing:nth-of-type(3n) { animation-delay: -1.0s }  
.breathing:nth-of-type(5n) { animation-delay: -1.5s }  
.breathing:nth-of-type(7n) { animation-delay: -2.0s }  
.breathing:nth-of-type(11n) { animation-delay: -2.5s }  


/* center image */
.card_center {
    width: 15em;
    height: 15em;
    border-radius: calc(15em/2);
    position: absolute;
    z-index: 0;
}

.card_title_align {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 3em;
}
.card_title_obscure {
    position: absolute;
    top: 0.75em;
    width: 0;
    overflow-x: hidden;
}
.card_dropdown.open .card_title_obscure {
    width: 60em;
}
.card_scroll_browser>div:nth-child(2n+1) .card_title_obscure {
    left: 0;
    margin-left: 5em;
}
.card_scroll_browser>div:nth-child(2n) .card_title_obscure {
    margin-right: 5em;
    right: 0;
}
.card_title_mover {
    position: relative;
    width: 60em;
    
    background: #30303090;
    color: #eee;
    text-shadow: -0.5px 1px black;
    
    height: 5.5em;
    transition:
	height 0.25s 0s,
	transform 0.25s 0s;
}
.card_dropdown.open .card_title_mover {
    height: 6.5em;
    transition:
	height 0.125s 0.125s,
	transform 0.4s 0.5s;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown.open .card_title_mover {
    left: 0;
    transform: translate(0);
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown.open .card_title_mover {
    right: 0;
    transform: translate(0);
}
.card_scroll_browser>div:nth-child(2n+1) .card_title_mover {
    transform: translate(-60em);
    border-radius: 0 5em 5em 0;
}
.card_scroll_browser>div:nth-child(2n) .card_title_mover {
    transform: translate(60em);
    border-radius: 5em 0 0 5em;
}
.card_dropdown_content_align {
    position: absolute;
    width: 56.5em;
    top: 0;
    transform: translate(0, -27em);

    visibility: hidden;

    transition: 0.1s;
    transition-delay: 0s;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown_content_align {
    left: 0;
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown_content_align {
    right: 0;
}
.card_dropdown.open .card_dropdown_content_align {
    visibility: visible;
    transform: translate(0);
    
    transition: 0.4s;
    transition-delay: 0.8s;
}
.card_dropdown_content {
    background: #ddd;
    color: #888;
    border-radius: 0 0 2em 2em;
    padding: 1em;
    text-align: left;
    font-size: 1.5em;
}
.card_dropdown_content ul {
    list-style: square; padding-left: 2em;
}
.card_dropdown_content .equation {
    font-size:1.1em;
    font-family: 'Latin Modern Math';
    font-weight:600;
}
.card_dropdown_content p.equation {
    padding-left:10%;
    margin-bottom:0;
}

.card_dropdown_content_obscure {
    overflow-y: hidden;
    width: 60em;
    position: absolute;
    top: 7.2em;
    height: 0;
}
.card_dropdown.open .card_dropdown_content_obscure {
    height: 30em;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown_content_obscure {
    left: 5.5em;
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown_content_obscure {
    right: 5.5em;
}

.card_wrapper {
    font-family: Bahnschrift;
    font-size: 0.6em;
    height: 32em;
    position: relative;
    margin-bottom: 4em;
    position: relative;
    transition: 0.4s;
    transition-delay: 0.8s;
    background: #eee;
    border-radius: 3em;
}
.card_wrapper.open {
    margin-bottom: 35em;
}
.card_scroll_browser>div:last-child .card_wrapper {
    margin-bottom: 20em;
}
.card_scroll_browser>div:last-child .card_wrapper.open {
    margin-bottom: 35em;
}

.card_title {
    text-align: center;
    top: 4.5em;
    position: absolute;
    background: #777;
    font-weight: 425;
    font-size: 2.5em;
    color: #eee;
    padding: 0.1%;
}
.card_scroll_browser>div:nth-child(2n+1) .card_title {
    right: 0;
    left: 8em;
}
.card_scroll_browser>div:nth-child(2n) .card_title {
    left: 0;
    right: 8em;
}
.card_reader_link {
    position: absolute;
    bottom: -1em;
    transform: translate(0, 100%);
    font-size: 1.2em;
    color: #fff;
    border-radius: 0.75em;
    padding: 0.5em 2.2em; /* top-bottom left-right */
    transition: 0.35s;
    font-weight: bold;
}
.card_scroll_browser>div:nth-child(2n+1) .card_reader_link {
    right: 0;
    background: var(--csu-green);
}
.card_scroll_browser>div:nth-child(2n) .card_reader_link {
    left: 0;
    background: var(--csu-gold);
}

.card_description {
    min-width: 10em;
    padding: 0.3em 0.75em 0.3em 0.75em; /* top right bottom left */
    font-size: 1.5em;
    color: #111;
    text-align: justify;
    top: 10em;
    position: absolute;
}
.card_scroll_browser>div:nth-child(2n+1) .card_description {
    left: 16em;
    right: 2em;
}
.card_scroll_browser>div:nth-child(2n) .card_description {
    right: 16em;
    left: 2em;
}

.portfolio-items, .portfolio-cards {
    margin-top: -6em;
}

.card_scroll_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.card_scroll_browser {
    width: 75%;
    overflow: hidden;
    padding-left: 5%;
}

.card_scroll_stickwrap {
    position: sticky;
    top: var(--header-height); /* calculated from topbar */
}

.card_scroll_align {
    width: 20%;
}
.card_scroll_designator {
    list-style: none;
    font-size: 1em;
    width: 90%;
    background: lightgray;
    color: #666;
    border-radius: 0 0 1.5em 1.5em;
    height: calc((100vh - 2em - var(--header-height)) / 2 - 2em);
    overflow-y: scroll;
}
.stickwrap_legend {
    list-style: none;
    font-size: 1em;
    width: 90%;
    background: lightgray;
    color: #666;
    border-radius: 0 0 1.5em 1.5em;
    overflow-y: scroll;
    position: sticky;
    height: calc((100vh - 2em - var(--header-height)) / 2 - 2em);
    top: calc((100vh - 2em - var(--header-height)) / 2 + 3em + var(--header-height));
}

.card_scroll_entry {
    text-align: left;
    padding-left: 5%;
    width: 100%;
    margin-bottom: 3px;
    transition: 300ms;
    position: relative;
}
.card_scroll_entry::before {
    content: "\00BB";
    padding-right: 0.5em;
    opacity: 0;
    transition: 300ms;
}
.card_scroll_entry.highlighted::before {
    opacity: 100%;
}
.card_scroll_entry:hover::before {
    opacity: 50%;
}

.card_scroll_entry.highlighted {
    padding-left: 15% !important;
}
.card_scroll_entry:hover {
    padding-left: 10%;
    color: #555;
}
.card_scroll_entry.highlighted {
    color: #111;
}

.card_scroll_title {
    height: 2em;
    text-align: left;
    background: grey;
    color: #eee;
    font-size: 2em;
    padding-left: calc(95% * 0.1);
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-right: 0;
    border-radius: 0 2em 2em 0;
    width: 100%;
}
