@font-face {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: 400;
  src: local('Bahnschrift'),
       url('fonts/Bahnschrift.ttf') format('truetype');
}
@font-face {
    font-family: "Latin Modern Math";
    src: url('fonts/latinmodern-math.otf');
}
.App-logo {
    height: 40vmin;
    pointer-2nts: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
	animation: App-logo-spin infinite 20s linear;
    }
}

* { /* TODO */
    --csu-green: green;
    --csu-gold: gold;
}

.App-header {
    background-color: #181c24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
	transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
    }
}

.card {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32em;
    height: 32em;
    border-radius: calc(32em/2);
    top: 0;
}
.card_scroll_browser>div:nth-child(2n) .card {
    right: 0;
}
.card_scroll_browser>div:nth-child(2n+1) .card {
    left: 0;
}

@media (max-aspect-ratio: 2/3) {
    .App-header {
	flex-direction: column;
    }
}

/* the little hover bubbles */
.card_dropdown>img {
    --scale: 8em;
    width: var(--scale);
    height: var(--scale);
    border-radius: calc(var(--scale)/2);
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown>img {
    left: 0;
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown>img {
    right: 0;
}
.card_dropdown>img.breathing {
    --scale: 6em;
}
.card_dropdown {
    position: relative;
    transition: 0.5s;
    z-index: 0;
}
.card_scroll_browser>div:nth-child(2n+1) .card_dropdown {
    transform: rotate(var(--angle))
	       translate(12em) rotate(calc(-1 * var(--angle)))
	       translate(-4em, -4em);
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown {
    transform: rotate(calc(-180deg - var(--angle)))
	       translate(12em) rotate(calc(180deg + var(--angle)))
	       translate(4em, -4em);
}

.breathing{
    --breathing-scale: 0.75em;
    animation: breathing 3s infinite;
    animation-delay: 0s;
}
.breathing.subtle{
    --breathing-scale: 0.25em;
}
@keyframes breathing {
    0% {
	box-shadow: 0 0 0 0em rgba(30, 77, 43, 255);
    }
    75% {
	box-shadow: 0 0 0 var(--breathing-scale) rgba(30, 77, 43, 0);
    }
    100% {
	box-shadow: 0 0 0 var(--breathing-scale) rgba(0, 0, 0, 0);
    }
}
.breathing:nth-of-type(2n) { animation-delay: -0.5s }
.breathing:nth-of-type(3n) { animation-delay: -1.0s }  
.breathing:nth-of-type(5n) { animation-delay: -1.5s }  
.breathing:nth-of-type(7n) { animation-delay: -2.0s }  
.breathing:nth-of-type(11n) { animation-delay: -2.5s }  


/* center image */
.card_center {
    width: 15em;
    height: 15em;
    border-radius: calc(15em/2);
    position: absolute;
    z-index: 1;
}

.card_title_wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    transition: 0.5s;
    transition-delay: 1.5s;
}

.card_dropdown_content_wrapper {
    position: absolute;
    transform: translate(0, 100%) translate(0, -1px);
    overflow: hidden;
    padding: 0 5em 5em; /* top right/left bottom */
}

.card_dropdown_content_wrapper.folded {
    padding: 0;
}

.card_scroll_browser>div:nth-child(2n+1) .card_dropdown_content {
    transform: translate(-1em);
}
.card_scroll_browser>div:nth-child(2n) .card_dropdown_content {
    transform: translate(1em);
}
.card_dropdown_content {
    overflow: hidden;
    position: relative;
    background: #9998;
    padding: 1em;
    border-radius: 0 0 calc(1em) calc(1em); /* top-left top-right bottom-right bottom-;eft */
    font-size: 0.6em;
    text-align: left;
    max-height: 17em;
    width: 28em;
    color: #444;
    
    transition:
	max-height 0.5s 1.3s,
	padding 0s 1.3s;
}


.card_dropdown_content:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6em;
    content: "";
    border-radius: 0 0 calc(1em) calc(1em); /* top-left top-right bottom-right bottom-;eft */
    background: linear-gradient(to top,
				#444f 20%, 
		 		#4440 100%
);
    pointer-2nts: none; /* so the text is still selectable */
    transform: translate(0, 13em);
}

.card_dropdown_content.folded {
    max-height: 0;
    padding: 0;
    transition:
	max-height 0.3s 0s,
	padding 0s 0.2s;
}

.card_wrapper {
    font-family: Bahnschrift;
    font-size: 0.6em;
    height: 32em;
    position: relative;
    margin-bottom: 4em;
    position: relative;
}

.card_title {
    text-align: center;
    z-index: 0;
    top: 4.5em;
    position: absolute;
    z-index: 1;
    background: #777;
    font-weight: 425;
    font-size: 2.5em;
    color: #eee;
    padding: 0.1%;
    
    /*text-shadow: -0.5px 1px black;*/
}
.card_scroll_browser>div:nth-child(2n+1) .card_title {
    right: 0;
    left: 8em;
}
.card_scroll_browser>div:nth-child(2n) .card_title {
    left: 0;
    right: 8em;
}
.card_reader_link {
    position: absolute;
    z-index: 0;
    bottom: -1em;
    transform: translate(0, 100%);
    font-size: 1.2em;
    color: #fff;
    border-radius: 0.75em;
    padding: 0.5em 2.2em; /* top-bottom left-right */
    transition: 0.35s;
    font-weight: bold;
}
.card_scroll_browser>div:nth-child(2n+1) .card_reader_link {
    right: 0;
    background: var(--csu-green);
}
.card_scroll_browser>div:nth-child(2n) .card_reader_link {
    left: 0;
    background: var(--csu-gold);
}

.card_description {
    z-index: 1;
    min-width: 10em;
    padding: 0.3em 0.75em 0.3em 0.75em; /* top right bottom left */
    font-size: 1em;
    color: #111;
    text-align: justify;
    top: 16em;
    position: absolute;
}
.card_scroll_browser>div:nth-child(2n+1) .card_description {
    left: 29em;
    right: 5em;
}
.card_scroll_browser>div:nth-child(2n) .card_description {
    right: 29em;
    left: 5em;
}

.portfolio-items, .portfolio-cards {
    margin-top: -6em;
}

.card_scroll_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.card_scroll_browser {
    width: 80%;
    overflow-x: hidden;
}

.card_scroll_stickwrap {
    position: sticky;
    top: calc(15px + 1px + 20px + 50px); /* calculated from topbar */
}

.card_scroll_align {
    width: 20%;
}
.card_scroll_designator {
    list-style: none;
    font-size: 1em;
    width: 90%;
    background: lightgray;
    color: #666;
    border-radius: 0 0 1.5em 1.5em;
    min-height: 30em;
}

.card_scroll_entry {
    text-align: left;
    padding-left: 5%;
    width: 100%;
    margin-bottom: 3px;
    transition: 300ms;
    position: relative;
}
.card_scroll_entry::before {
    content: "\00BB";
    padding-right: 0.5em;
    opacity: 0;
    transition: 300ms;
}
.card_scroll_entry.highlighted::before {
    opacity: 100%;
}
.card_scroll_entry:hover::before {
    opacity: 50%;
}

.card_scroll_entry.highlighted {
    padding-left: 15% !important;
}
.card_scroll_entry:hover {
    padding-left: 10%;
    color: #555;
}
.card_scroll_entry.highlighted {
    color: #111;
}

.card_scroll_title {
    text-align: left;
    background: grey;
    color: #eee;
    font-size: 2em;
    padding-left: calc(95% * 0.1);
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-right: 0;
    border-radius: 0 2em 2em 0;
    width: 100%;
}
